
.meme-detail-body {
  display: flex;
  flex: 0 0 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 80px 0 140px;
}

.meme-detail-container {
  width: 100%;
  display: block;
}

.meme-detail-header {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

.meme-detail-meta {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.meme-detail-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--black);
  height: 40px;
  width: 70px;
  color: var(--white);
  font-size: 17px;
  font-weight: 700;
  margin: 0 20px 0 0;
}

.meme-detail-link {
  color: var(--black);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 5px;
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 700;
}

.meme-detail-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--black);
}

.meme-detail-link:hover::before {
  content: none;
}

.meme-detail-name {
  margin: 12px 0 24px;
  font-size: 42px;
  line-height: 49px;
  text-transform: uppercase;
}

.meme-detail-controls {
  width: 100%;
  position: relative;
  display: block;
}

.meme-detail-controls .button-control {
  position: absolute;
  bottom: 10px;
}

.meme-detail-controls .button-control.left {
  left: 0;
}

.meme-detail-controls .button-control.right {
  right: 0;
}

.meme-detail-image {
  background-color: var(--white);
  border: 4px solid var(--black);
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 80px;
  height: auto;
  object-fit: contain;
  object-position: top;
}

.meme-detail-image video:focus,
.meme-detail-image:focus video,
.meme-detail-image:focus {
  outline: none;
}

.meme-detail-image > * {
  outline: none;
  height: auto !important;
}

.meme-detail-footer {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  padding: 0 0 16px;
  border-bottom: 1px solid var(--black);
  margin: 0 0 24px;
  flex-wrap: wrap;
}

.meme-detail-rating {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.meme-detail-proposer {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.meme-detail-proposer a {
  margin: 0;
  text-transform: uppercase;
  color: var(--grey500);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  width: 100%;
}

.meme-detail-display-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  padding: 0 0 2px;
}

.meme-detail-action {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

.meme-detail-spinner {
  width: 50px;
  height: 50px;
  margin: 190px auto;
}

@media (min-width: 900px) {
  .meme-detail-image {
    min-width: 100%;
    width: 100%;
    max-width: none;
    margin: 0 0 20px;
  }

  .meme-detail-rating {
    flex: 1;
  }

  .meme-detail-proposer {
    flex: 0 0 250px;
  }

  .meme-detail-footer {
    flex-wrap: nowrap;
  }

  .meme-detail-action > *:first-child {
    margin: 0 16px 0 0;
  }

  .meme-detail-action {
    flex-wrap: nowrap;
  }

  .meme-detail-controls .button-control {
    bottom: unset;
    top: calc(50% - 10px);
    transform: translateY(-50%);
  }

  .meme-detail-controls .button-control.left {
    left: -100px;
  }

  .meme-detail-controls .button-control.right {
    right: -100px;
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  .meme-detail-image {
    width: calc(100% - 140px);
    margin: 0 70px 20px;
  }

  .meme-detail-controls .button-control {
    bottom: unset;
    top: calc(50% - 10px);
    transform: translateY(-50%);
  }
}

@media (max-width: 900px) {
  .app .meme-detail-action .button-main.expand,
  .app .meme-detail-action .button-white.fixed {
    flex: 0 0 100%;
    margin: 0 0 12px;
  }
}
