.menu {
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}

.menu-content {
  display: flex;
  flex: 0 0 400px;
  justify-content: flex-end;
}

.meme-meta {
  display: flex;
  flex: 1;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 2000;
  background-color: transparent;
}

.menu .select {
  margin: 0 0 0 20px;
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--black);

}

.menu .MuiInput-underline:before,
.menu .select:hover:before,
.menu .Mui-focused.MuiInput-underline:after {
  content: none;
}

.menu .select .MuiInputBase-input {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: var(--font-family-body);
  padding-left: 16px;
}

.meme-meta {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey800);
}

.meme-count {
  margin: 0;
  padding: 0 10px 0 0;
}

.meme-voting {
  margin: 0;
  padding: 0 0 0 10px;
}
