.hero {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 0 0 0;
}

.hero-intro {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 16px;
}

.hero-headline-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 32px;
}

.hero-headline {
  text-align: center;
  padding: 8px 32px;
  background-color: var(--white);
  border: 4px solid var(--black);
  width: auto;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  line-height: 44px;
}

.hero-subline {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 32px;
}

@media (min-width: 900px) {
  .hero {
    padding: 70px 0 0;
  }

  .hero-intro {
    font-size: 24px;
    line-height: 28px;
  }

  .hero-headline {
    font-size: 54px;
    line-height: 63px;
  }

  .hero-subline {
    font-size: 24px;
    line-height: 28px;
  }
}
