.content {
  width: 100%;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.content-body {
  width: 100%;
  padding: 0;
  display: block;
}

.overlay {
  margin-top: -50px;
  background: none;
}

.card-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 100%;
  flex: 0 0 100%;
}

.content-section-head {
  margin: 0 0 40px;
  width: 100%;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

@media (min-width: 1409px) {
  .card-container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    width: 100%;
    flex: 0 0 100%;
  }

  .card:nth-child(3n+1) { order: 1; }
  .card:nth-child(3n+2) { order: 2; }
  .card:nth-child(3n)   { order: 3; }

  .card-container::before,
  .card-container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
}

@media (min-width: 900px) and (max-width: 1408px) {
  .card-container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    width: 100%;
    flex: 0 0 100%;
  }

  .card:nth-child(2n+1) { order: 1; }
  .card:nth-child(2n+2) { order: 2; }

  .card-container::before {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
}
