.rating-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.posted {
  display: flex;
  flex: 1;
  align-items: center;
}

.posted p {
  margin: 0 5px 0 0;
  text-transform: uppercase;
  color: var(--white);
}

.rate-icon {
  border: 2px solid var(--black);
  background-color: var(--white);
  margin-right: 5px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-icon svg {
  height: 20px;
  width: auto;
  fill: var(--black);
  stroke: none;
}

.rating {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 100%;
  margin: 16px 0 0 0;
  justify-content: flex-end;
}

.rating p {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 900;
}

@media (min-width: 900px) {
  .posted p {
    color: var(--grey500);
  }
}
