.rating-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.posted {
  display: flex;
  flex: 1;
  align-items: center;
}

.posted p {
  margin: 0 5px 0 0;
  text-transform: uppercase;
  color: var(--grey500);
}

.rate-icon {
  border: 2px solid var(--black);
  background-color: var(--white);
  margin-right: 5px;
  width: 24px;
  height: 24px;
  line-height: 26px;
  text-align: center;
}

.rating {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 100%;
  margin: 16px 0 0 0;
  justify-content: flex-end;
}

.rating p {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 900;
}


@media (min-width: 900px) {
  .rating-container {
    flex-wrap: nowrap;
  }


  .rating {
    flex: 0 0 120px;
    margin: 0;
  }
}
