.header {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

.account {
  display: flex;
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  order: 1;
  flex: 0 0 100%;
  justify-content: center;
}

.balance {
  border-radius: 4px 0 0 4px;
  padding: 8px 20px 8px 16px;
  margin: 0 -10px 0 0;
  background-color: var(--grey600);
}

.address {
  border-radius: 4px;
  padding: 8px 20px 8px 16px;
  background-color: var(--grey800);
}

.submit-button {
  margin: 16px 0 0;
  order: 2;
}


@media (min-width: 900px) {
  .header {
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex: 0 0 auto;
  }

  .account {
    order: 2;
    margin: 0;
    box-shadow: var(--button-box-shadow);
    flex: 0 0 auto;
  }

  .submit-button {
    margin: 0 16px 0 0;
    order: 1;
  }
}
