.elapsed-bar {
  width: 100%;
}

.thumb-icon {
  width: 30px;
  height: 30px;
  margin-right: 0px;
}

.elapsed-closed {
  display: flex;
  color :red;
}

.elapsed-open {
  display: flex;
  color: green;
}
