.footer {
  width: 100%;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 200ms ease-in 0s;
  visibility: visible;
}

.hide {
  visibility: hidden;
  transition: all 200ms ease-out;
  height: 0px;
}

.footer-social {
  margin: 0 10px !important;
}
