.guidance {
  display: flex;
  flex: 0 0 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 80px 0;
  box-sizing: border-box;
}

.guidance-body-spinner {
  width: 50px;
  height: 50px;
  margin: 16px auto;
}

.guidance-image {
  width: auto;
  max-width: 230px;
  margin: 0 auto 32px;
}

.guidance-container {
  display: flex;
  width: 100%;
  padding: 100px 32px 32px;
  background-color: var(--white);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  position: relative;
  box-sizing: border-box;
}

.guidance-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 600px;
}

.guidance-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 16px;
}

.guidance-copy {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 0 32px;
}

.guidance-buttons {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.guidance-balance {
  margin: 0 0 4px;
  font-size: 14px;
  color: var(--grey500);
}

.guidance-row {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
}

.guidance-input-wrapper {
  position: relative;
  margin: 0 0 16px;
}

.guidance-title-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 16px;
}

.guidance-staking {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.guidance-upload {
  text-align: center;
  padding: 64px 32px;
  width: 100%;
  border: 1px dashed var(--black);
  color: var(--grey800);
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin: 0 0 16px;
}

.guidance-or {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin: 0 0 16px;
  text-align: center;
  width: 100%;
  color: var(--grey800);
}

.guidance-meme {
  background-color: var(--white);
  border: 4px solid var(--black);
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  max-width: 275px;
  margin: 0 auto 16px;
  height: auto;
  object-fit: contain;
  object-position: top;
}

.guidance-meme video:focus,
.guidance-meme:focus video,
.guidance-meme:focus {
  outline: none;
}

.guidance-input .MuiOutlinedInput-input {
  font-size: 16px;
  color: var(--black);
  line-height: 16px;
  padding: 10px 8px 9px;
}

.guidance .button-main {
  margin: 0 0 16px;
  min-width: 210px;
}

.guidance .button-max {
  position: absolute;
  top: 9px;
  right: 5px;
}

.guidance .button-back {
  box-shadow: none;
  top: 32px;
  left: 32px;
}

@media (min-width: 900px) {
  .guidance-buttons {
    flex-wrap: nowrap;
  }

  .guidance-buttons > .button-main {
    margin: 0;
  }

  .guidance-buttons .button-white {
    margin: 0 0 0 16px;
  }

  .guidance-input-wrapper {
    margin: 0 16px 0 0;
  }

}
