:root {
  --white: #fff;
  --black: #08001a;
  --red: #ee0004;
  --green: #12c26a;
  --blue: #2a5bdb;
  --blue-light: #cad7f5;
  --blue-dark: #31326c;
  --blue-gradient: linear-gradient(180deg, #2a5bdb 0%, #1f4ab8 100%);
  --blue-gradient-invert: linear-gradient(180deg, #1f4ab8 0%, #2a5bdb 100%);
  --grey-gradient: linear-gradient(180deg, #949494 0%, #818181 100%);
  --yellow: #fab517;
  --yellow-light: #ffd370;
  --dark: #5c5a5a;
  --grey100: #f6f6f6;
  --grey200: #cecece;
  --grey300: #ddd;
  --grey400: #d5d5d6;
  --grey500: #949494;
  --grey600: #818181;
  --grey700: #686868;
  --grey800: #575757;
  --light: #efefef;
  --white-alpha2: rgba(255, 255, 255, 0.2);
  --black-alpha1: rgba(0, 0, 0, 0.1);
  --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  --button-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  --font-size-default: 18px;
  --font-family-body: "Work Sans", sans-serif;
  --max-width-body: 1320px;
}

@font-face {
  font-family: 'Work Sans';
  src:
    url('/assets/fonts/worksans-regular.woff2') format('woff2'),
    url('/assets/fonts/worksans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src:
    url('/assets/fonts/worksans-semibold.woff2') format('woff2'),
    url('/assets/fonts/worksans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src:
    url('/assets/fonts/worksans-bold.woff2') format('woff2'),
    url('/assets/fonts/worksans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src:
    url('/assets/fonts/worksans-black.woff2') format('woff2'),
    url('/assets/fonts/worksans-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.696) 0%, rgba(166, 166, 166, 0) 4%), url("/assets/images/concrete-wall.png"), #c6c6c6;
  font-family: var(--font-family-body);
  cursor: default;
}

a {
  color: var(--black);
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.app {
  width: 100%;
  min-height: calc(100vh - 115px);
}

.app-body {
  max-width: var(--max-width-body);
  margin: 0 auto;
  width: 100%;
  padding: 10px 10px 30px;
  box-sizing: border-box;
  min-height: calc(100vh - 184px);
}

.app-logo-container {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  text-decoration: none;
  margin: 0 0 20px;
}

.app-logo-link {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-decoration: none;
}

.app-logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0 8px 0 0;
}

.app-name {
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  font-size: var(--font-size-default);
  font-weight: 600;
}

header {
  z-index: 1001;
  top: 0;
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex: 0 0 auto;
}

/* size */
.f-w {
  width: 100%;
}

/* layout */
.flex {
  display: flex;
  flex-direction: row;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.center {
  text-align: center;
}

.round-button {
  padding: 8px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.round-button-text {
  margin: 0 12px;
  color: black;
  font-weight: 500;
  font-size: 24px;
}

.skip-button {
  background: none;
  border: none;
  cursor: pointer;
}

.skip-button-text {
  margin: 0 12px;
  color: blue;
  font-weight: 500;
  font-size: 24px;
  text-decoration: underline;
}

.detail-container {
  position: relative;
}

.detail-content {
  padding-bottom: 50px;
}

.detail-box {
  width: 60%;
  height: 760px;
  margin: 50px  0 20px !important;
}

.border-black {
  border: 2px solid black;
}

.border-green {
  border: 2px solid lightgreen;
}

.slick-slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
}

.leaderboards {
  margin-top: 120px;
}

.leaderboards-table {
  text-align: center;
  border-spacing: 64px 8px;
}

.app .button-back {
  height: 44px;
  background: var(--grey100);
  padding: 10px 16px;
  box-shadow: var(--box-shadow);
  position: absolute;
}

.app .button-back:hover {
  background: var(--grey800);
}

.app .button-back .MuiButton-label svg {
  stroke: var(--grey800);
  display: inline-block;
  margin: -1px 5px 0 0;
  height: 21px;
  width: auto;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.app .button-back:hover .MuiButton-label svg {
  stroke: var(--grey100);
}

.app .button-back:disabled {
  background: var(--grey-gradient);
}

.app .button-back .MuiButton-label {
  color: var(--grey800);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.app .button-back:hover .MuiButton-label {
  color: var(--grey100);
}

.app .button-main {
  background: var(--blue-gradient);
  padding: 8px 16px;
  box-shadow: var(--box-shadow);
}

.app .button-main:hover {
  background: var(--blue-gradient-invert);
}

.app .button-main:disabled {
  background: var(--grey-gradient);
}

.app .button-main .MuiButton-label {
  color: var(--white);
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
}

.app .button-main .MuiButton-label svg {
  fill: var(--white);
  stroke: var(--white);
  display: inline-block;
  margin: 0 0 0 10px;
  height: 15px;
  width: auto;
}

.app .button-max {
  background: var(--blue-light);
  padding: 4px 8px;
  min-width: 0;
  margin: 0;
}

.app .button-max .MuiButton-label {
  color: var(--blue);
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.app .button-max:hover .MuiButton-label {
  color: var(--blue-light);
}

.app .button-max:hover {
  background: var(--blue);
}

.app .button-secondary {
  padding: 0;
  border-radius: 4px;
  margin: 0;
  background: var(--grey600);
  box-shadow: var(--box-shadow);
}

.app .button-secondary:hover {
  cursor: pointer;
  background: var(--grey800);
}

.app .button-secondary .MuiButton-label {
  padding: 8px 20px;
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.app .button-white {
  background: var(--white);
  padding: 8px 16px;
  border: 1px solid var(--black);
}

.app .button-white:hover {
  background: var(--grey200);
}

.app .button-white .MuiButton-label {
  color: var(--black);
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
}

.app .button-white .MuiButton-label svg {
  fill: var(--black);
  stroke: var(--black);
  display: inline-block;
  margin: 0 0 0 10px;
  height: 18px;
  width: auto;
}

.app .button-secondary.fixed,
.app .button-main.fixed,
.app .button-white.fixed {
  flex: 0 0 270px;
  display: flex;
}

.app .button-secondary.expand,
.app .button-main.expand,
.app .button-white.expand {
  flex: 1;
  display: flex;
}

.app .button-control {
  background: var(--grey100);
  padding: 16px 10px;
  box-shadow: var(--box-shadow);
}

.app .button-control:hover {
  background: var(--grey800);
}

.app .button-control .MuiButton-label svg {
  stroke: var(--grey800);
  display: inline-block;
  margin: 0;
  height: 30px;
  width: auto;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.app .button-control:hover .MuiButton-label svg {
  stroke: var(--grey100);
}

@media (min-width: 1409px) {
  body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.696) 0%, rgba(166, 166, 166, 0) 12%), url("/assets/images/concrete-wall.png"), #c6c6c6;
  }
}

@media (min-width: 900px) {
  .app {
    min-height: calc(100vh - 115px);
  }

  .app-body {
    padding: 32px 40px 65px;
    min-height: calc(100vh - 115px);
  }

  .app-logo-container {
    margin: 0;
  }

  header {
    flex-wrap: nowrap;
  }
}

@media (min-width: 900px) and (max-width: 1408px) {
  body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.696) 0%, rgba(166, 166, 166, 0) 8%), url("/assets/images/concrete-wall.png"), #c6c6c6;
  }
}
