:root {
  --white: #FFFFFF;
  --red: #E40049;
  --green: #12c26a;
  --blue: #1797D2;
  --blue-light: #2B98CB;
  --blue-dark: #31326c;
  --yellow: #FAB517;
  --yellow-light: #FFD370;
  --dark: #5c5a5a;
  --grey: #d5d5d6;
  --light: #EFEFEF;
  --box-shadow: 0px 6px 12px rgba(0, 0, 0, .16);
}

.app-logo-container {
  z-index: 1001;
  top: 0px;
  position: fixed;
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--grey);
}

.app-logo {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f-green {
  color:green !important;
}

.f-red {
  color:red !important;
}

.f-lg {
  font-size: 1.125em;
}

.b-white {
  background-color: var(--white) !important;
}

.b-grey {
  background-color: var(--grey);
}

/* size */
.f-w {
  width: 100%;
}

/* layout */
.flex {
  display: flex;
  flex-direction: row;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.center {
  text-align: center;
}

.round-button {
  padding: 8px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.round-button-text {
  margin: 0px 12px;
  color: black;
  font-weight: 500;
  font-size: 24px;
}

.skip-button {
  background: none;
  border: none;
  cursor: pointer;
}

.skip-button-text {
  margin: 0px 12px;
  color: blue;
  font-weight: 500;
  font-size: 24px;
  text-decoration: underline;
}

.detail-container {
  position: relative;
}

.detail-content {
  padding-bottom: 50px;
}

.detail-box {
  width: 60%;
  height: 760px;
  margin: 50px  0px 20px !important;
}

.border-black {
  border: 2px solid black;
}

.border-green {
  border: 2px solid lightgreen;
}

.slick-slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.leaderboards {
  margin-top: 120px;
}

.leaderboards-table {
  text-align: center;
  border-spacing: 64px 8px;
}
