:root {
  --white: #FFF;
  --black: #08001A;
  --red: #EE0004;
  --green: #12c26a;
  --blue: #1797D2;
  --blue-light: #2B98CB;
  --blue-dark: #31326c;
  --blue-gradient: linear-gradient(180deg, #2A5BDB 0%, #1F4AB8 100%);
  --blue-gradient-invert: linear-gradient(180deg, #1F4AB8 0%, #2A5BDB 100%);
  --yellow: #FAB517;
  --yellow-light: #FFD370;
  --dark: #5c5a5a;
  --grey200: #cecece;
  --grey300: #dddddd;
  --grey400: #d5d5d6;
  --grey500: #949494;
  --grey600: #818181;
  --grey700: #686868;
  --grey800: #575757;
  --light: #EFEFEF;
  --white-alpha2: rgba(255, 255, 255, 0.2);
  --black-alpha1: rgba(0, 0, 0, 0.1);
  --box-shadow: 0px 6px 12px rgba(0, 0, 0, .16);
  --button-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);;
  --font-size-default: 18px;
  --font-family-body: "Work Sans", sans-serif;
  --max-width-body: 1320px;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/worksans-regular.woff2') format('woff2'),
    url('/assets/fonts/worksans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/worksans-semibold.woff2') format('woff2'),
    url('/assets/fonts/worksans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/worksans-bold.woff2') format('woff2'),
    url('/assets/fonts/worksans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/worksans-black.woff2') format('woff2'),
    url('/assets/fonts/worksans-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.696) 0%, rgba(166, 166, 166, 0) 21.91%), url("/assets/images/concrete-wall.png"), #C6C6C6;
  font-family: var(--font-family-body);
  cursor: default;
}

a {
  color: var(--black);
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.app {
  width: 100%;
  min-height: calc(100vh - 184px);
}

.app-body {
  max-width: var(--max-width-body);
  margin: 0 auto;
  width: 100%;
  padding: 10px 10px 30px;
  box-sizing: border-box;
  min-height: calc(100vh - 184px);
}

.app-logo-container {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  text-decoration: none;
  margin: 0 0 20px;
}

.app-logo-link {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-decoration: none;
}

.app-logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0 8px 0 0;
}

.app-name {
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  font-size: var(--font-size-default);
  font-weight: 600;
}

header {
  z-index: 1001;
  top: 0;
  padding: 0;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex: 0 0 auto;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f-green {
  color:green !important;
}

.f-red {
  color:red !important;
}

.f-lg {
  font-size: 1.125em;
}

.b-white {
  background-color: var(--white) !important;
}

.b-grey {
  background-color: var(--grey);
}

/* size */
.f-w {
  width: 100%;
}

/* layout */
.flex {
  display: flex;
  flex-direction: row;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.center {
  text-align: center;
}

.round-button {
  padding: 8px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.round-button-text {
  margin: 0px 12px;
  color: black;
  font-weight: 500;
  font-size: 24px;
}

.skip-button {
  background: none;
  border: none;
  cursor: pointer;
}

.skip-button-text {
  margin: 0px 12px;
  color: blue;
  font-weight: 500;
  font-size: 24px;
  text-decoration: underline;
}

.detail-container {
  position: relative;
}

.detail-content {
  padding-bottom: 50px;
}

.detail-box {
  width: 60%;
  height: 760px;
  margin: 50px  0px 20px !important;
}

.border-black {
  border: 2px solid black;
}

.border-green {
  border: 2px solid lightgreen;
}

.slick-slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.leaderboards {
  margin-top: 120px;
}

.leaderboards-table {
  text-align: center;
  border-spacing: 64px 8px;
}

.app .button-main {
  background: var(--blue-gradient);
  padding: 8px 16px;
  box-shadow: var(--box-shadow);
}

.app .button-main:hover {
  background: var(--blue-gradient-invert);
}

.app .button-main .MuiButton-label {
  color: var(--white);
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
}

.app .button-secondary {
  padding: 0;
  border-radius: 4px;
  margin: 0;
  background: var(--grey600);
  box-shadow: var(--box-shadow);
}

.app .button-secondary:hover {
  cursor: pointer;
  background: var(--grey800);
}

.app .button-secondary .MuiButton-label {
  padding: 8px 20px;
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .app {
    min-height: calc(100vh - 115px);
  }

  .app-body {
    padding: 32px 40px 65px;
    min-height: calc(100vh - 115px);
  }

  .app-logo-container {
    margin: 0;
  }

  header {
    flex-wrap: nowrap;
    margin: 0 0 90px;
  }
}
