.section {
  width: 100%;
  display: flex;  
}

.hero-section {
  display: flex;
}

.heading {
  width: 70%;
  height: fit-content;
  margin-top: 80px;
  margin-bottom: 20px;
}

.hero-section-container {
  width: 60% !important;
  max-width: 1170px;
  min-width: 800px;
  height: 178px;
  border: 2px solid;
  border-radius: 4px;
  text-align:center;
}

.main-board {
  width: 70%;
  height: 200px;
}

.img-container {
  position: relative !important;
}

.img-main {
  position: absolute;
  border-radius: 50%;
}

.img0 {
  width: 80px;
  height: 80px;
  top: 20px;
  left: 20px;
}
.img1 {
  width: 80px;
  height: 80px;
  top: 30px;
  left: 70px;
}
.img2 {
  width: 60px;
  height: 60px;
  top: 90px;
  left: 110px;
  
}
